README.el
README.elc
README.:tangle
init.elc
company-statistics-cache.el
projectile-bookmarks.eld
projectile.cache

recentf
recentf~

company-statistics-cache.el
elpa/*
llsp/*
auto-save-list/* 
url/*

bookmarks